<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bekkostudio.meditasidanretret">

    <!-- webview permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Timer.Meditasi.MeditationCountdown"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer.Meditasi.MeditationResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Course.Retret.RetretActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Article.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Article.TutorialContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Article.ArticleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Article.ShopActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Article.ShopContentActivity" />
        <activity
            android:name=".Course.ExoPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Course.Retret.AttentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Course.Retret.TimelineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Course.Retret.TimelineContentActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Timer.Meditasi.MeditationSetting" />
        <activity android:name=".Timer.Namaskara.NamaskaraHomeActivity" />
        <activity android:name=".Timer.Namaskara.NamaskaraCountdownActivity" />
        <activity android:name=".Timer.NianFo.NianFoHomeActivity" />
        <activity android:name=".Timer.NianFo.NianFoManualActivity" />
        <activity android:name=".Timer.NianFo.NianFoAutomaticActivity" />
        <activity android:name=".Timer.Namaskara.NamaskaraResultActivity" />
        <activity android:name=".Timer.NianFo.NianFoResultActivity" />
        <activity android:name=".MoodActivity" />
        <activity android:name=".FirstLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProgressActivity"></activity>
    </application>

</manifest>