<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bekkostudio.meditasidanretret">

    <!-- webview permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Timer.Meditasi.MeditationCountdown"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer.Meditasi.MeditationResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Article.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Article.TutorialContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Article.ArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Article.ShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Article.ShopContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Course.ExoPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Timer.Meditasi.MeditationSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer.Namaskara.NamaskaraEmptinessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer.Namaskara.NamaskaraCountdownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer.NianFo.NianFoHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer.NianFo.NianFoManualActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer.NianFo.NianFoAutomaticActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer.Namaskara.NamaskaraResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer.NianFo.NianFoResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chart.MoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer.Namaskara.NamaskaraMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Timer.Namaskara.NamaskaraGratitudeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Timer.Namaskara.NamaskaraRepentanceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Timer.Namaskara.NamaskaraAudioResultActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>